<h1>Registrate</h1>
<section>
<form id="register-form" name="register-form">
    <label>Nombre</label>
    <input type="text" name="first_name" />
    <label>Apellido</label>
    <input type="text" name="last_name" /> 
    <label>Correo</label>
    <input type="email" name="email" />
    <label>Edad</label>
    <input type="number" name="age" />
    <label>Constraseña</label>
    <input type="password" name="password" />
    <input type="submit" />   
</form>
</section>

<script src="./js/register.js"></script>